html{
	height: 100%;
}
body{
	background: #fff;
	padding: 0;
	margin:0;
	height: 100%;
}
.wrapper{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    height: 100%;
}
.left{
	background: #fcc;
    width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.left-list{
    -webkit-box-flex: 1;
    background: aquamarine;
}
.left-publish{
	
}
.right{
	-webkit-box-flex: 1;
	background: #ccf;
}
